/* Resetando o margin e padding para evitar problemas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #2C2F38; /* Cor de fundo simples e escura */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    display: none; /* Inicia a página oculta, será visível após 2 segundos */
}

/* Tela preta de carregamento */
#preload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
}

/* Menu Lateral */
.menu {
    width: 200px;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo translúcido */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    margin: 20px 0;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #7289DA; /* Cor do Discord */
}

/* Container principal */
.container {
    text-align: center;
    background: rgba(26, 29, 38, 0.9); /* Fundo translúcido */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1.5s ease-out;
}

/* Título */
.title {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 20px;
    animation: rgbText 3s infinite alternate;
}

/* Subtítulo */
.subtitle {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 40px;
}

/* Contador */
.countdown {
    font-size: 2rem;
    background: #7289DA;
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
    display: inline-block;
}

/* Animação de RGB */
@keyframes rgbText {
    0% {
        color: red;
    }
    25% {
        color: yellow;
    }
    50% {
        color: green;
    }
    75% {
        color: cyan;
    }
    100% {
        color: magenta;
    }
}

/* Animações */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
